# Python cache files
__pycache__/
*.py[cod]
*$py.class

# Environment variables
.env
.env.*

# VSCode settings
.vscode/

# Python virtual environment
venv/
env/
.venv/

# Database files
*.sqlite3

# Logs
*.log

# OS-specific files
.DS_Store
Thumbs.db

# Pytest cache
.pytest_cache/
